*{
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}
body{
    background-color: #a888f0;
    padding-top: 2rem;
}

.quote{
    font-family: helvetica;
    font-size: 1.6rem;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 1.5rem;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 0.4rem;
}

.quote .text{
    font-style: italic;
    margin-bottom: 0.4rem;
}

.quote .author{
    font-weight: bold;
    color: #5e17eb;
}


.quote .button{
    font-size: 20px;
    background-color: #5e17eb;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 0.8rem 1.2rem;
    cursor: pointer;
    transition: .4s;
}

.quote .button:hover{
    background-color: blue;
}